/*
#app {
	margin: 0px;
	border-radius: 0px;
	background-color: silver;
	padding: 16px;
}
*/

/*
.panels {
    height: 100%;
    width: 100%;
    min-height: 320px;
    min-width: 320px;
    display: inline-block;
    margin: 30px;
    border: 10px solid orange;
}

.panels > * {
    border: 8px solid #333;
    font-size: 5em;
    text-align: center;
}

.wide > * {
    min-width: 50%;
}
*/

.panelContent {
    margin: 6px;
    padding: 4px;
    border: 8px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}
